  
<nav class="nav nav-pills flex-column flex-sm-row bg-warning">
    <li class="flex-sm-fill text-sm-left p-2 text-dark"><a class="navbar-brand " href="/">CRUD</a></li>
    
    <li class="flex-sm-fill text-sm-center p-2 text-info"><a class="navbar-brand" href="/">Web-Based Course Management</a></li>
    <li class="flex-sm-fill text-sm-end p-2"><button class="btn btn-outline-primary text-info" type="button" action="GET"><a href="/addcourse" style="color: black;">Add Course</a></button></li>
    
  </nav>

